[submodule "deps/APIInterceptor"]
	path = deps/APIInterceptor
	url = git@github.com:kbiElude/APIInterceptor.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/OpenXR-SDK"]
	path = deps/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
